
#jobs {
  background-attachment: fixed;
  background-image: url('/public/imagenes/background.svg');
}
  .jobsTitle{
    font-family: 'Merriweather', serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3rem;    
    color: rgb(25, 66, 112);
    margin:auto;
    font-weight: 1000;  
    display: flex;
    justify-content: center; 
    padding: 4rem 0;
  }
  
  
  